@CHARSET "UTF-8";
/*有关头像上传的样式*/
.image_local{
	width:160px;
	height:160px;
	margin-left:20px;
	margin-top: 20px;
}

.btnUpload{
	width:100px;
	height: 35px;
	margin-top: 10px;
	margin-left: 20px;

	
}